<mat-card>
  <mat-card-header>
    <mat-card-title>Project and analysis management</mat-card-title>
  </mat-card-header>

  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  <div class="example-table-container">

    <table mat-table [dataSource]="repos">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button aria-label="Restart analysis">
            <mat-icon>refresh</mat-icon>
          </button>
          <button mat-icon-button aria-label="Duplicate project">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button mat-icon-button aria-label="Delete project">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{repo(row).name}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{repo(row).analysisState}}</td>
      </ng-container>

      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef>Branch</th>
        <td mat-cell *matCellDef="let row">{{repo(row).branchToAnalyze}}</td>
      </ng-container>

      <ng-container matColumnDef="lastAnalyzedCommit">
        <th mat-header-cell *matHeaderCellDef>Analyzed commit</th>
        <td mat-cell *matCellDef="let row">{{repo(row).lastAnalyzedCommit}}</td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>Git URL</th>
        <td mat-cell *matCellDef="let row">{{repo(row).url}}</td>
      </ng-container>

      <ng-container matColumnDef="needsAuthentication">
        <th mat-header-cell *matHeaderCellDef>Is private</th>
        <td mat-cell *matCellDef="let row">{{repo(row).needsAuthentication}}</td>
      </ng-container>

      <ng-container matColumnDef="errorMessage">
        <th mat-header-cell *matHeaderCellDef>Error Message</th>
        <td mat-cell *matCellDef="let row">{{repo(row).errorMessage}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</mat-card>
