<h3>Total statistics (based on defined users)</h3>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Total project commits &nbsp;<sup>* Uses commit authored date</sup>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-total-commits [project]="project"></app-total-commits>
  </ng-template>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Total project churn &nbsp;<sup>* Uses commit authored date</sup>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-total-churn [project]="project"></app-total-churn>
  </ng-template>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Total attributable (owned) code (lines including comments, etc.) &nbsp;<sup>* Uses commit authored date</sup>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-total-lines-count [project]="project"></app-total-lines-count>
  </ng-template>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Total rework code (lines including comments, etc.) &nbsp;<sup>* Uses commit committed (i.e. merge) date</sup>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-total-rework [project]="project"></app-total-rework>
  </ng-template>
</mat-expansion-panel>

<h3>By user contribution statistics (based on defined users)</h3>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Contribution by user project commits &nbsp;<sup>* Uses commit committed (i.e. merge) date</sup>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-by-user-commits [project]="project"></app-by-user-commits>
  </ng-template>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Contribution by user project churn &nbsp;<sup>* Uses commit committed (i.e. merge) date</sup>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-by-user-churn [project]="project"></app-by-user-churn>
  </ng-template>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Contribution by user project ownership &nbsp;<sup>* Uses commit committed (i.e. merge) date</sup>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-by-user-ownership [project]="project"></app-by-user-ownership>
  </ng-template>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Contribution by user project removed lines from others &nbsp;<sup>* Uses commit committed (i.e. merge) date</sup>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-by-user-rework-from-others [project]="project"></app-by-user-rework-from-others>
  </ng-template>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Contribution by user project removed lines by others &nbsp;<sup>* Uses commit committed (i.e. merge) date</sup>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-by-user-rework-by-others [project]="project"></app-by-user-rework-by-others>
  </ng-template>
</mat-expansion-panel>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Contribution by user project removed own lines &nbsp;<sup>* Uses commit committed (i.e. merge) date</sup>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-by-user-rework-own [project]="project"></app-by-user-rework-own>
  </ng-template>
</mat-expansion-panel>


<h3>By user work details</h3>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Work details by user &nbsp;<sup>* Uses commit author (churn) and committed date (rework, ownership) date</sup>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-by-user-work-details [project]="project"></app-by-user-work-details>
  </ng-template>
</mat-expansion-panel>
