.rules form .mat-list-item {
  height: auto;
}

.rules form #rule-name-edit {
  width: 20%;
  display: inline-block
}

.rules form .mat-form-field {
  padding-left: 1%;
  width: 70%;
  display: inline-block
}
